* {
	padding:0;
	margin:0;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

a {
    color: #ffffff !important;
}

a:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

.bloque-paginacion {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	padding-left: 10px;
	padding-right: 10px;
}

.boton-paginacion {
	width: 100px;
	height: 30px;
	background-color: #0083ff;
	font-family: "Josefin Sans", Sans-serif;
	font-size: 14px;
	font-weight: 400;
  	color: white;
	border-radius: 25px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}

.boton-paginacion:hover {
	background-color: #004c94;
}

.numeros-pag {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	margin-left: 10px;
}

.numPag {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background-color: #ffffff;
	font-family: "Josefin Sans", Sans-serif;
	font-size: 14px;
	font-weight: 400;
  	color: #0083ff;
	border: 1px solid #0083ff;
	border-radius: 50px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}

.numPag:hover {
	background-color: #f3f3f3;
}

.numPag-seleccionado {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background-color: #0083ff;
	font-family: "Josefin Sans", Sans-serif;
	font-size: 14px;
	font-weight: 400;
  	color: #ffffff;
	border: 1px solid #0083ff;
	border-radius: 50px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}

.contenedor-posts {
	margin-top: 20px;
	margin-bottom: 40px;
	padding-left: 5px;
	padding-right: 5px;
}

.box-post {
	max-width: 900px;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
	border: 0px;
	border-radius: 10px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.2);
}

.label-desplegable {
	margin-top: 20px;
	font-family: "Josefin Sans", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #9c9c9c;
}


.box-desplegable {
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    background-color: #9c9c9c;
    color: #ffffff;
    border-radius: 5px;
    padding-left: 5px;
}

.menu {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	width: 100%;
	height: 80px;
	background-color: #2f2f2f;
}

.img-menu {
	cursor: pointer;
}

.titulo-menu {
    font-family: "Josefin Sans", Sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 10px;
    margin-bottom: 0;
    padding-top: 10px;
}

.tienda-menu {
    font-family: "Josefin Sans", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 20px;
    margin-bottom: 0;
    padding-top: 10px;
}

.img-login {
    width: 50px;
    margin-left: 0px;
    cursor: pointer;
}

.boton-post {
	width: 100px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: #0083ff;
	color: #ffffff;
	border-radius: 10px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
	font-family: "Josefin Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.boton-buscar {
	width: 100px;
	height: 30px;
	margin-top: 10px;
	background-color: #0083ff;
	color: #ffffff;
	border-radius: 10px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
	font-family: "Josefin Sans", Sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.boton-post:hover {
	background-color: #004c94;
}

.boton-buscar:hover {
	background-color: #004c94;
}

.box-buscador {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-wrap: nowrap;
	max-width: 900px;
	margin: 0 auto;
	padding: 5px;
}

.box-sin-resultados {
	max-width: 900px;
	margin: 0 auto;
	margin-top: 40px;
	text-align: center;
}

.sin-resultados {
	font-family: "Josefin Sans", Sans-serif;
    font-size: 24px;
    font-weight: 400;
	color: #9b9b9b;
	text-align: center;
}

.footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	margin-top: 70px;
	padding-top: 20px;
	background-color: #2f2f2f;
	text-align: center;
	font-family: "Josefin Sans", Sans-serif;
    font-size: 24px;
    font-weight: 400;
	color: #ffffff;
}

.copyright {
	font-weight: 200;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

.box-redes {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.compartir-redes {
	width: 40px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
	cursor: pointer;
}

/* FAKE POST CARGA INICIAL */
.img-post-fake {
	width: 100%;
	height: 200px;
	background-color: #eaeaea;
	border-radius: 10px;
}

.titulo-post-fake {
	width: 100%;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #eaeaea;
	border-radius: 10px;
}

.descripcion-post-fake {
	width: 100%;
	height: 5px;
	margin-top: 5px;
	background-color: #eaeaea;
	border-radius: 10px;
}

.boton-post-fake {
	width: 100px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: #eaeaea;
	border-radius: 10px;
}

/* FIN FAKE POST CARGA INICIAL */

/* ICONO LOADING */
.lds-ring {
	display: inline-block;
	position: absolute;
	width: 80px;
	height: 80px;
	margin-left: calc(50% - 40px);
	margin-top: 200px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #0083ff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #0083ff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/* FIN ICONO LOADING */

/* INPUT BUSCAR */
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  margin-right: 20px;
  width: 300px;
  font-family: "Josefin Sans", Sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  color: #616161;
  padding: 3px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-size: 16px;
  font-weight: 200;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 16px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 2px;
  font-weight: 400;
  border-width: 3px;
  border-image: linear-gradient(to right, #004c94, #0083ff);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 14px;
  color: #004c94;
  font-weight: 400;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}
/* FIN INPUT BUSCAR */

/* CARRUSEL */
.carousel {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.carousel-inner {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 0px;
    overflow: hidden;
}
/* FIN CARRUSEL */

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.titulo-menu {
	    font-size: 25px;
	}

	.tienda-menu {
	    font-size: 20px;
	    margin-left: 120px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	.titulo-menu {
	    margin-left: 40px;
	}

	.img-login {
	    margin-left: 30px;
	}

	.tienda-menu {
	    margin-left: 220px;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.titulo-menu {
		font-size: 32px;
		margin-left: 40px;
	}

	.tienda-menu {
		font-size: 20px;
		margin-left: 240px;
	}

	.carousel-inner {
	    margin-top: 30px;
	}

	.img-login {
		width: 70px;
		margin-left: 30px;
	}

	.contenedor-posts {
		padding-left: 0px;
		padding-right: 0px;
	}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
