* {
	padding:0;
	margin:0;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.bloque-paginacion {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	padding-left: 10px;
	padding-right: 10px;
}

.boton-paginacion {
	width: 100px;
	height: 30px;
	background-color: #0083ff;
	font-family: "Josefin Sans", Sans-serif;
	font-size: 14px;
	font-weight: 400;
  	color: white;
	border-radius: 25px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}

.boton-paginacion:hover {
	background-color: #004c94;
}

.numeros-pag {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	margin-left: 10px;
}

.numPag {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background-color: #ffffff;
	font-family: "Josefin Sans", Sans-serif;
	font-size: 14px;
	font-weight: 400;
  	color: #0083ff;
	border: 1px solid #0083ff;
	border-radius: 50px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}

.numPag:hover {
	background-color: #f3f3f3;
}

.numPag-seleccionado {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background-color: #0083ff;
	font-family: "Josefin Sans", Sans-serif;
	font-size: 14px;
	font-weight: 400;
  	color: #ffffff;
	border: 1px solid #0083ff;
	border-radius: 50px;
	text-align: center;
	padding-top: 5px;
	cursor: pointer;
}

.contenedor-posts {
	margin-top: 20px;
	margin-bottom: 40px;
}

.box-post {
	max-width: 900px;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
	border: 0px;
	border-radius: 10px;
	padding: 10px;
	-webkit-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 23px -6px rgba(0,0,0,0.2);
}

.label-desplegable {
	margin-top: 20px;
	font-family: "Josefin Sans", Sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #9c9c9c;
}


.box-desplegable {
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    background-color: #9c9c9c;
    color: #ffffff;
    border-radius: 5px;
    padding-left: 5px;
}

/* FAKE POST CARGA INICIAL */
.img-post-fake {
	width: 100%;
	height: 200px;
	background-color: #eaeaea;
	border-radius: 10px;
}

.titulo-post-fake {
	width: 100%;
	height: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	background-color: #eaeaea;
	border-radius: 10px;
}

.descripcion-post-fake {
	width: 100%;
	height: 5px;
	margin-top: 5px;
	background-color: #eaeaea;
	border-radius: 10px;
}

.boton-post-fake {
	width: 100px;
	height: 30px;
	margin: 0 auto;
	margin-top: 10px;
	background-color: #eaeaea;
	border-radius: 10px;
}

/* FIN FAKE POST CARGA INICIAL */

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
